body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 251, 251);
}
.user-login-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
    border: 2px solid black;
    padding: 20px;
    border-radius: 8px;
  }
  
  .user-login-container h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  .user-login-container form {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .user-login-container input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
  }
  
  .user-login-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .user-login-container button:hover {
    background-color: #0056b3;
  }
  